@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&family=Roboto:wght@300&display=swap');

body {
    background-color: white;
    display: block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  
  img[data-src] {
    filter: blur(0.2em);
    border: 5px solid skyblue;
  }
  
  img {
    float: none;
    margin: 5px auto;
    display: block;
    width: 300px;
    height: 400px;
    filter: blur(0em);
    transition: filter 2s;
  }
  