@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&family=Roboto&display=swap');
*{
	padding: 0;
	margin: 120;
	box-sizing: border-box;
}
header {
	height: 120px;
	background-color: burlywood;
	width: 100%;
}
img {
	padding: 10px;
}

.date {
	font-family: "Roboto";
	
}
h3 {
	font-family: "Roboto";
	text-align: center;
	padding: 20px;
}

li {
	list-style: none;
}
a {
	font-family: "Roboto";
	font-size: 1.5rem;
	color: brown;
	text-decoration: none;
}
.navbar {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}
.nav-link {
	transition: 0.7s ease;
}
.nav-link:hover {
	color: dodgerblue;
}
.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: rgb(160, 65, 10);
}
.update {
	background-color: brown;
	text-align: center;
	padding: 10px;

}

.content {
	display: grid;
	grid-row: 1fr 1fr 1fr;
	width: 1200px;
	height: 1200px;
	margin: auto;
	border: 5px solid black;
	position: relative;
	top: 60px;
	padding: 10px;
}
.weather, .announcement {
	width: 400px;
	height: 400px;
	border: 5px solid gray;
	align-items: center;
}
.weather {
	position: relative;
	left: 0;
	top: 0;
}
.announcement {
	position: relative;
	right: 0;
	top: 0;
}
footer {
	height: 220px;
	width: 100%;
	background-color: burlywood;
	align-items: center;
}



@media(max-width:768px){
	.hamburger{
		display: block;
	}
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 140px;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active {
		left: 0;
	}
	.content {
		width: 400px;
		height: 1200px;
		margin: auto;
		position: fix;
		top: 10px;

	}
	header {
		height: 400px;
	}
	.announcement {
		position: relative;
		bottom: 0;
	}
}


