@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
    color: rgb(0, 0, 0);
    background-color: #ffb950;
	display: flex;
}
.bannerDisplay {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 143, 58);
	font-family: "Roboto";
	text-align: center;
	padding: 10px;
}
/*.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}*/
.content {
    display: flex;
    justify-content: space-between;
}
.weather  {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #ffb950;
    text-align: center;
    width: 48%;
}
.upcoming {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #ffb950;
    width: 48%;
}

main .weather p {
    font-family: "Roboto";
    font-size: 1rem;
}
main .upcoming p {
    font-family: "Roboto";
    font-size: 1rem;
}
footer {
	color: rgb(0, 0, 0);
    background-color: #ffb950;
	font-family: "Roboto";
	text-align: center;
	padding: 10px;
}
header, nav,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5px;
}

header img {
    width: 100px;
   	padding: 10px;
}


h1 {
    text-align: center;
	font-size: 1.5rem;
	padding: 10px;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav {
    background-color: rgb(248, 143, 58);

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
	
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
	font-family: "Roboto";
	text-align: center;
	
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
	
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
main figure.hero {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
}
main figure.hero img {width: 100%;}
main .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

main .gallery section {
    text-align: center;
    border: solid white 5px;
}

.location {
	margin: 10px auto;
    padding: 15px;
    background-color: #FFECD1;
    color: black;
}
.social {
	display: flex;
	justify-content: flex-end;
	gap: 20px;

}
.map {
	display: flex;
	padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}


