@import url('https://fonts.googleapis.com/css2?family=Inder&family=League+Spartan:wght@300&family=Oregano&family=Raleway:wght@200&family=Roboto:wght@500&display=swap');



header {
	background-color: #32657e;
	display: flex;
	padding: 2rem;
	margin: center;
}
.hero {
	width: 100%;
	height: auto;
}
h1 {
	color: white;
	font-family: "Raleway";
	border: .5em;
	padding: .5em;
}
#time {
	font-family: "Roboto";
	font-size: 1em;
}
nav {
	font-family: "Roboto";
	margin:0 auto ;
	max-width: 760px;
	background-color: burlywood;
}

.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color:  #000;
	background-color: #fff;
	font-weight: 700;
}

footer {
	background-color: #32657e;
	display: flex;
	padding: 2rem;
}
h3 {
	font-family: "Raleway";
	color: white;
}
.resposive li {
	display: block;
}

@media only screen and (min-width: 32.5em) {
	header {
		background: flex;
	}
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: white;
	}
}