





nav {
	margin:0 auto ;
	max-width: 760px;
	background-color: burlywood;
}

.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color:  #000;
	background-color: #fff;
	font-weight: 700;
}

.resposive li {
	display: block;
}

@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: white;
	}
}