@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, nav,
main,
footer {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 5px;
}

header {
    color: rgb(0, 0, 0);
    background-color: #ddf587;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3 {
    font-family: "Roboto";
}
.logo {
    padding: 10px;
}
.social {
    padding: 10px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
nav {
    background-color: rgb(252, 143, 143);

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
	font-family: "Roboto";
	text-align: center;

}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
	
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

main figure.hero img {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    width: 100%;
}

p {
    font-family: "Oswald";
    size: 4rem;
    padding: 10px;
}
div.button-box {
    margin: auto;
    background-color: rgb(252, 143, 143);
    padding: 10px;
}
.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

.fresh {
    background-color: rgb(250, 247, 99);
    color: black;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.fresh:hover {
    background-color: #79ca54;
    color: black;
}

.content {
    display: flex;
    justify-content: space-between;
}

.weather  {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #79ca54;
    text-align: center;
    width: 48%;
}

.locations  {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #79ca54;
    text-align: center;
    width: 48%;
}

footer {
	color: rgb(0, 0, 0);
    background-color: #dcf876;
	font-family: "Roboto";
	text-align: center;
	padding: 10px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: "Oswald";
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-family: "Roboto";
    font-size: .8rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

main .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

main .gallery section {
    font-family: "Roboto";
    text-align: center;
    background-color: #faf2ae;
    padding-bottom: 10px;
}

#fruits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto";
    gap: 10px;
    color: #445ba9;
    
    
}